.naslovDiv {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .articlesContainer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
  }
  
  .naslov {
    font-size: 2em;
  }

  .addButton{
    background-color: #1F55B3;
    color: white;
    margin: 0 10px;
   
   
  }

  .input-title {
    border: 2px solid #3182CE;
    padding: 8px;
    border-radius: 4px;
}

.input-file {
    border: 2px solid #FF585F;
    padding: 8px;
    border-radius: 4px;
}

.textarea-content {
    border: 2px solid #48BB78;
    padding: 8px;
    border-radius: 4px;
}

.filepond--root {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
