.kartaDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.leaflet-container {
    height: 400px; /* Set to your desired height */
    width: 70%; /* Set to your desired width */
    min-width: 300px; /* Optional: set a min-width */
}

.eventiDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    
}
