.kartaDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.leaflet-container {
    height: 400px; /* Set to your desired height */
    width: 70%; /* Set to your desired width */
    min-width: 300px; /* Optional: set a min-width */
}

.eventiDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.sviEventiFlex {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 2%;
}

.eventItem {
    background-color: white;
    margin-bottom: 1%;
    width: 1020px;
    height: 300px;
    padding: 0.75%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.slikaEvent {
    border-radius: 20px;
}

.naslovEventa {
    color: #1F55B3;
    font-size: 16px;
    font-weight: bold;
    padding: 0.25%;
}

.lokDatDokTekst {
    color: #D9D9D9;
    font-size: 12px;
    font-weight: bold;
    padding: 0.25%;
}

.opisEventa {
    color: #1F55B3;
    font-size: 12px;
    padding: 0.25%;
    margin: 0.25%;
}

.infoFlex {
    margin: 0.25%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.informacije {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0%;
}

.dugmeRezervacijaEvent {
    background-color: #FF585F;
    font-size: 12px;
}